html {
	font-family: sans-serif;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a, #searchform{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#loginform, #signup {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background: #ddd;
	color: black;
}

.main {
	padding: 20px;
	margin-top: 30px;
	height: 1500px;
}

body {
	margin: 0%;
}

#searchq {
	color: grey;
	width: 100px;
}

#signup:hover {
	color: red;
}

footer {
	clear: both;
}